:root
	background #1
	color white

body
	margin 0
	padding 1rem
	display flex
	flex-direction column
	height 100vh
	flex 1 0 auto
	box-sizing border-box

*
	font-family sans-serif

.box
	background #2
	padding 0.75rem
	border-radius 0.5rem
	width 12rem
