:root
	@apply bg-neutral-950
	color white

body
	margin 0
	padding 1rem
	display flex
	flex-direction column
	height 100vh
	flex 1 0 auto

*
	@apply box-border
	font-family sans-serif

fieldset
	@apply border-2 border-solid border-neutral-7
	padding 0.75rem
	border-radius 0.5rem
	width 18rem

legend
	@apply font-bold px-2

input
	@apply border-none outline-none text-base

button
	transition all 0.2s ease-in-out
	cursor pointer
	border none

p
button
	margin 0

hr
	@apply border-1 border-solid border-neutral-6
